@font-face {
  font-family: 'Kalam';
  src: url(/src/Kalam-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e6d3a3;
  background-image: url(/src/images/veggieBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #91972a;
  min-height: 100vh;
  font-family: 'Kalam';
  font-size: 14pt;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding-top: 15px;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

header ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 2px;
  padding: 0 2% 0 2%;
}

header ul li {
  border: 2px solid #91972a;
  width: 100%;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header ul li:hover {
  background-color: #91972a;
  color: #f2f4f3;
  cursor: pointer;
}

header ul li:active {
  transform: scale(0.9);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section::-webkit-scrollbar {
  display: none;
}

section ul {
  list-style: none;
  border: 2px solid #91972a;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  width: 80%;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 5vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f2f4f3f3;
  border-radius: 40px;
  box-shadow: 0px 0px 8px 0px #1f5500;
  width: 50vw;
  height: 90vh;
  margin-top: 2%;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #e6d3a336;
  border: 1px solid #91972a;
  border-radius: 8px;
  margin-bottom: 5%;
  padding: 10px;
  width: 85%;
}

.items img {
  width: 100%;
  height: auto;
}

.image-div {
  max-width: 250px;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 15px;
}

.card p {
  margin: 0;
}