@font-face {
  font-family: 'Kalam';
  src: url(/src/Kalam-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e6d3a3;
  color: #91972a;
  min-height: 100vh;
  font-family: 'Kalam';
  font-size: 14pt;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding-top: 15px;
}

header ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 2px;
  padding: 0 2% 0 2%;
}

header ul li {
  border: 2px solid #91972a;
  width: 100%;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header ul li:hover {
  background-color: #91972a;
  color: #f2f4f3;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section ul {
  list-style: none;
  border: 2px solid #91972a;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  width: 80%;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 5vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f2f4f3;
  border-radius: 40px;
  box-shadow: 0px 0px 8px 0px #91972a;
  width: 35vw;
  height: 90vh;
  margin-top: 2%;
}


